    .feature {
      display: flex;
      flex-direction: column;
      margin: 1.2em;
      max-width: 250px;
      .feature_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 50px;
          width: 60px;
          height: 60px;
          background-color: #8BC34A;
          border-radius: 40px;
          padding: 10px;
          &:hover {
            background-color: #E4334F;
          }
          mat-icon {
            font-size: 1em;
            width: 50px;
            height: 50px;
          }
        }
      }
      .title {
        font-size: 1.5em;
        letter-spacing: -0.03em;
        color: #e4334f;
        margin: 0.5em;
      }
      .description {
        padding: 0 0.5em;
        color: #4a4a4a;
        font-size: 1.125em;
        line-height: 1.5625em;
        text-align: center;
      }
    }
